<!DOCTYPE HTML>
<html>
<head><meta name="viewport" content="width=device-width"/>
<title>hey Supply </title>
<!-- STYLES & JQUERY
================================================== -->
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/icons.css"/>
<link rel="stylesheet" type="text/css" href="css/slider.css"/>
<link rel="stylesheet" type="text/css" href="css/skinblue.css"/><!-- change skin color -->
<link rel="stylesheet" type="text/css" href="css/responsive.css"/>
<script src="js/jquery-1.9.0.min.js"></script><!-- the rest of the scripts at the bottom of the document -->
</head>
<body>
<!-- TOP LOGO & MENU
================================================== -->
<div class="grid">
	<div class="row space-bot">
		<!--Logo-->
		<div class="c4">
			<a href="index.html">
			<img src="assets/logo.png" class="logo" alt="">
			</a>
		</div>
		<!--Menu-->
		<div class="c8">
			<nav id="topNav">
				<li><a href="">Register</a>
				</li>
				<li><a href="login.html">Sign in</a>
				</li>
			</nav>
		</div>
	</div>
</div>
<div class="undermenuarea">
	<div class="boxedshadow">
	</div>
	<!-- SLIDER AREA
	================================================== -->
	<div id="da-slider" class="da-slider">
		<!--Slide 1-->
		<div class="da-slide">
			<h2>Inventory </h2>
			<p>
				No more headache of keeping track of your items. We are making it easy for you. Just add the inventory and we will help you maintain it...What are you thinking about??!!! Go hit the "Rigister" link!!
			</p>
			<div class="da-img">
				<img src="assets/inventory_img.png" alt="">
			</div>
		</div>
		<!--Slide 2-->
		<div class="da-slide">
			<h2>LIBRARIES</h2>
			<p>
				 Struggling to find what you have in your store and what is left??? Relax.. We are here to help you with all the details. Use our Library to find anything you want related to the products.
			</p>
			<div class="da-img">
				<img src="assets/library.png" alt="">
			</div>
		</div>
		<!--Slide 3-->
		<div class="da-slide">
			<h2> REPORTS </h2>
			<p>
				 We made it interesting to view the reports of your inventory reports. Hey, look at that.!!you are just one click away to get your reports in different formats!! Don't think much,join us and we will not disappoint you!!
			</p>
			<div class="da-img">
				<img src="assets/report.png" alt="">
			</div>
		</div>
		<nav class="da-arrows">
		<span class="da-arrows-prev"></span>
		<span class="da-arrows-next"></span>
		</nav>
	</div>
</div>
<!-- UNDER SLIDER - BLACK AREA
================================================== -->
<div class="undersliderblack">
	<div class="grid">
		<div class="row space-bot">
			<div class="c12">
				<!--Box 1-->
				<div class="c4 introbox introboxfirst">

						<span class="homeicone">
						</span>
						<strong><u><font color="white"><a href="">INVENTORY</a></u></strong>
				</div>
				<!--Box 2-->
				<div class="c4 introbox introboxmiddle">

						<span class="homeicone">
						</span>
						<strong><u><font color="white"><a href="">LIBRARIES</a></u></strong>
				</div>
				<!--Box 3-->
				<div class="c4 introbox introboxlast">
						<span class="homeicone">
						</span>
							<strong><u><font color="white"><a href="">REPORTS</a></u></strong>

				</div>
				<!--Box 3-->
				<div class="c4 introbox introboxlast">
						<span class="homeicone">
						</span>
							<strong><u><font color="white"><a href="about_us.html">ABOUT US</a></u></strong>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- FOOTER
================================================== -->
<div id="wrapfooter">
	<div class="g1500">
		<div class="row" id="footer">
			<!-- to top button  -->
			<p class="back-top floatright">
				<a href="#top"><span></span></a>
			</p>
			<!-- 1st column -->
			<div class="c3">
				<img src="assets/logo_footer.png" style="padding-top: 70px;" alt="">
			</div>
			<!-- 2nd column -->
		<!--	<div class="c3">
				<h2 class="title"><i class="icon-twitter"></i> Follow us</h2>
				<hr class="footerstress">
				<div id="ticker" class="query">
				</div>
			</div> -->
			<!-- 3rd column -->
			<div class="c3">
				<h2 class="title"><i class="icon-envelope-alt"></i> Contact</h2>
				<hr class="footerstress">
				<dl>
					<dt>800 N State College Blvd, Fullerton, CA</dt>
					<dd><span>Telephone:</span>+1 123 456 7890</dd>
					<dd>E-mail: <a href="more.html">mail@csu.fullerton.edu</a></dd>
				</dl>
				<ul class="social-links" style="margin-top:15px;">
					<li class="twitter-link smallrightmargin">
					<a href="#" class="twitter has-tip" target="_blank" title="Follow Us on Twitter">Twitter</a>
					</li>
					<li class="facebook-link smallrightmargin">
					<a href="#" class="facebook has-tip" target="_blank" title="Join us on Facebook">Facebook</a>
					</li>
					<li class="google-link smallrightmargin">
					<a href="#" class="google has-tip" title="Google +" target="_blank">Google</a>
					</li>
					<li class="linkedin-link smallrightmargin">
					<a href="#" class="linkedin has-tip" title="Linkedin" target="_blank">Linkedin</a>
					</li>
					<li class="pinterest-link smallrightmargin">
					<a href="#" class="pinterest has-tip" title="Pinterest" target="_blank">Pinterest</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- copyright area -->
<div class="copyright">
	<div class="grid">
		<div class="row">
			<div class="c6">
				 CPSC 546 &copy; 2017. All Rights Reserved.
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT AREA -->
<!-- JAVASCRIPTS
================================================== -->
<!-- all -->
<script src="js/modernizr-latest.js"></script>

<!-- menu & scroll to top -->
<script src="js/common.js"></script>

<!-- slider -->
<script src="js/jquery.cslider.js"></script>

<!-- cycle -->
<script src="js/jquery.cycle.js"></script>

<!-- carousel items -->
<script src="js/jquery.carouFredSel-6.0.3-packed.js"></script>

<!-- twitter -->
<script src="js/jquery.tweet.js"></script>

<!-- Call Showcase - change 4 from min:4 and max:4 to the number of items you want visible -->
<script type="text/javascript">
$(window).load(function(){
			$('#recent-projects').carouFredSel({
				responsive: true,
				width: '100%',
				auto: true,
				circular	: true,
				infinite	: false,
				prev : {
					button		: "#car_prev",
					key			: "left",
						},
				next : {
					button		: "#car_next",
					key			: "right",
							},
				swipe: {
					onMouse: true,
					onTouch: true
					},
				scroll : 2000,
				items: {
					visible: {
						min: 4,
						max: 4
					}
				}
			});
		});
</script>

<!-- Call opacity on hover assets from carousel-->
<script type="text/javascript">
$(document).ready(function(){
    $("img.imgOpa").hover(function() {
      $(this).stop().animate({opacity: "0.6"}, 'slow');
    },
    function() {
      $(this).stop().animate({opacity: "1.0"}, 'slow');
    });
  });
</script>
</body>
</html>
