<div class="row" style="padding-top: 68px;padding-bottom: 5px; padding-left: 10px;"></div>
<table>
  <tr>
    <th>City</th>
  </tr>
  <tr>
    <td>New York, NY</td>
  </tr>
  <tr>
    <td>Los Angeles, CA</td>
  </tr>
  <tr>
    <td>Chicago, IL</td>
  </tr>
  <tr>
    <td>Houston, TX</td>
  </tr>
  <tr>
    <td>Philadelphia, PA</td>
  </tr>
  <tr>
    <td>Phoenix, AZ</td>
  </tr>
  <tr>
    <td>San Antonio, TX</td>
  </tr>
  <tr>
    <td>San Diego, CA</td>
  </tr>
  <tr>
    <td>Dallas, TX</td>
  </tr>
  <tr>
    <td>San Jose, CA</td>
  </tr>
  <tr>
    <td>Austin, TX</td>
  </tr>
  <tr>
    <td>Jacksonville, FL</td>
  </tr>
  <tr>
    <td>Indianapolis, IA</td>
  </tr>
  <tr>
    <td>San Francisco, CA</td>
  </tr>
  <tr>
    <td>Columbus, OH</td>
  </tr>
  <tr>
    <td>Fort Worth, TX</td>
  </tr>
  <tr>
    <td>Charlotte, NC</td>
  </tr>
  <tr>
    <td>Detroit, MI</td>
  </tr>
  <tr>
    <td>El Paso, TX</td>
  </tr>
  <tr>
    <td>Memphis, TN</td>
  </tr>
  <tr>
    <td>Boston, MA</td>
  </tr>
  <tr>
    <td>Seattle, WA</td>
  </tr>
  <tr>
    <td>Denver, CO</td>
  </tr>
  <tr>
    <td>Washington, DC</td>
  </tr>
  <tr>
    <td>Nashville, TN</td>
  </tr>
  <tr>
    <td>Baltimore, MY</td>
  </tr>
  <tr>
    <td>Louisville, KY</td>
  </tr>
  <tr>
    <td>Portland, OR</td>
  </tr>
  <tr>
    <td>Oklahoma City, OK</td>
  </tr>
  <tr>
    <td>Milwaukee, WI</td>
  </tr>
  <tr>
    <td>Las Vegas, NV</td>
  </tr>
  <tr>
    <td>Albuquerque, NM</td>
  </tr>
  <tr>
    <td>Tucson, AZ</td>
  </tr>
  <tr>
    <td>Fresno, CA</td>
  </tr>
  <tr>
    <td>Sacramento, CA</td>
  </tr>
  <tr>
    <td>Long Beach, CA</td>
  </tr>
  <tr>
    <td>Kansas City, MI</td>
  </tr>
  <tr>
    <td>Mesa, AZ</td>
  </tr>
  <tr>
    <td>Virginia Beach, VA</td>
  </tr>
  <tr>
    <td>Atlanta, GA</td>
  </tr>
</table>
