<div class="row" style="padding-top: 68px;padding-bottom: 5px; padding-left: 10px;"></div>
<table>
  <tr>
    <th>Status</th>
  </tr>
  <tr>
    <td>In Stock</td>
  </tr>
  <tr>
    <td>On Backorder</td>
  </tr>
  <tr>
    <td>Held at Shipping Point</td>
  </tr>
  <tr>
    <td>Shipped (In-Transit)</td>
  </tr>
  <tr>
    <td>Trucked (In-Transit)</td>
  </tr>
  <tr>
    <td>Held at Customs</td>
  </tr>
  <tr>
    <td>Held at Destination</td>
  </tr>
  <tr>
    <td>Accepted at Destination</td>
  </tr>
</table>
