<div class="container example2">
  <div class="row" style="padding-top: 68px;padding-bottom: 5px; padding-left: 10px;">

  </div>
  <button type="button" style="margin-top: 4px;float: right;" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Inventory</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <label for="itemName">Item Name:</label>
          <input type="text" name="itemName" class="form-control" id="itemName">
          <label for="quantity">Quantity:</label>
          <input type="text" name="quantity" class="form-control" id="quantity">
          <!--<div class="btn-group">
          <div class="dropdown btn-group">
            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select unit of Measurement<i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu 1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu 1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu 1</a></li>
              </ul>
            </div>
          </div>-->
          <div class="form-group col-sm-12 col-md-4"><label style="margin-left: -17px;">Unit of Meausrement</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-street-view"></i></span>
              <select class="form-control" id="cardTypes" formControlName="cardTypes">
                <option *ngFor="let unitOfMeasurement of unitsOfMeasurement">{{unitOfMeasurement}}</option>
              </select>
            </div>
          </div>

          <label for="quantity" style ="margin-left: -192px; margin-top: 61px;">Item Description:</label>
          <input type="text" name="description" class="form-control" id="description">
          <label for="location">Location:</label>
          <input type="text" name="location" class="form-control" id="location">
          <label for="costperunit">Cost per Unit:</label>
          <input type="text" name="costperunit" class="form-control" id="costperunit">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default ">Save</button>
          <button type="button" class="btn btn-default" (click)="saveNewInventory()" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
    </div>
  </div>
  <br>
  <div class="scroll">
  <ng-table [config]="config"
            (tableChanged)="onChangeTable(config)"
            (cellClicked)="onCellClick($event)"
            (actionsclicked)="onActionClick($event)"
            [rows]="rows" [columns]="columns">
  </ng-table>
</div>


</div>
