<div class="row" style="padding-top: 68px;padding-bottom: 5px; padding-left: 10px;"></div>
<table>
  <tr>
    <th>Unit of Measurement</th>
  </tr>
  <tr>
    <td>Each</td>
  </tr>
  <tr>
    <td>Box</td>
  </tr>
  <tr>
    <td>Case</td>
  </tr>
  <tr>
    <td>Dozen</td>
  </tr>
  <tr>
    <td>Inch</td>
  </tr>
  <tr>
    <td>Foot</td>
  </tr>
  <tr>
    <td>Yard</td>
  </tr>
  <tr>
    <td>Meter</td>
  </tr>
  <tr>
    <td>Ounce</td>
  </tr>
  <tr>
    <td>Pound</td>
  </tr>
  <tr>
    <td>Kilogram</td>
  </tr>
  <tr>
    <td>Quart</td>
  </tr>
  <tr>
    <td>Gallon</td>
  </tr>
  <tr>
    <td>Cubic Yard</td>
  </tr>
  <tr>
    <td>Liter</td>
  </tr>
  <tr>
    <td>Square Foot</td>
  </tr>
  <tr>
    <td>Acre</td>
  </tr>
  <tr>
    <td>Square Meter</td>
  </tr>
  <tr>
    <td>Minute</td>
  </tr>
  <tr>
    <td>Hour</td>
  </tr>
  <tr>
    <td>Day</td>
  </tr>
  <tr>
    <td>Year</td>
  </tr>
</table>
